.sidebar-nav-item.active {
  font-style: bold;
}

.icon {
  display: inline;
  margin: 0px 5px;
}


@media (max-width: 48em) {
  .sidebar-nav-item {
    display: inline;
    margin: 0px 1rem;
  }
}

.profile-img > img {
  margin: 1rem 0px 2rem;
}

.container {
  overflow-y: scroll;
  max-height: calc(100% - 2rem);
}

.gallery img {
  display: inline;
}
